.containerCardHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 800px;
}
.containerFotoHrizontal {
    max-width: 400px;
    max-height: 400px;
}
.conatinerTextHorizontal {
    max-width: 400px;
    max-height: 400px;
}

.cardTitle {
    border-left: medium solid blue;
    height: 30px;
    padding-left: 10px;
    font-size: 1.5em;
}
