.containerCardHorizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  max-height: 300px;
}
.containerFotoHrizontal {
  max-width: 560px;
  max-height: 300px;
}
.conatinerTextHorizontal {
  max-width: 500px;
  max-height: 400px;
}

.cardTitleHorizontal {
  font-size: 3em;
}

.dempster {
  padding-left: 25px;
}

.titleDempster {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
}
