.contaiinerCard {
    margin: 10px auto;
    max-width: 300px;
}

.imgContainer {
    max-width: 300px;
    max-height: 300px;
}

.cardTitle {
    border-left: medium solid blue;
    height: 30px;
    padding-left: 10px;
    font-size: 1.5em;
}
