.page-footer.containerFooter {
  background-color: #0d2340;
}

.containerFooterInformacao {
  display: flex;
  flex-direction: row;
}

.listasFooter {
  display: flex;
  flex-direction: row;
  width: 500px;
  padding-right: 140px;
}

.ulAcessoFooter {
  width: 300px;
}

.ulContatoFooter {
  width: 500px;
  padding-left: -50px;
}

.imgFooter {
  max-width: 250px;
  max-height: 250px;
}
