.containerCard {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.containerTitleEquipe {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
}

.containerTextoEquipe {
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
}
